{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block title %} Document Dashboard {% endblock %}


{% block content %}
    <div class="contentContainer">
        <div class="innerContentContainer">
            <div class="container mainContainer">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Dashboard</h2>
                    </div>
                    <div class="col-md-7">
                        <div class="informationBox" style="height: 690px;">
                            <div id="map" style="width: 100%; height: 565px;">
                                <div id="popup" class="ol-popup">
                                    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                                    <div id="popup-content"></div>
                                </div>
                            </div>
                            <br>
                            <small id="categoryHelp" class="form-text text-muted">
                                SHIFT gedrückt halten, um nach Area zu filtern.
                            </small>
                            <button id="toggleGeologieLayerBtn" class="btn btn-default">Toggle Geologie Layer</button>
                            <button id="toggleBigPolygonLayerBtn" class="btn btn-default">Toggle Big Polygons</button>

                            <p id="numberOfDocumentsFoundBox">{{ number_of_results }} Dokument/e gefunden.</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="informationBox" style="height: 700px;">
                            <form id="myForm" method="get">
                                <div class="form-group">
                                    <label for="infoGeolNrInput">InfoGeol-Nr.</label>
                                    <input type="text" class="form-control" id="infoGeolNrInput" name="infogeol_list"
                                           aria-describedby="infogeolHelp" placeholder="InfoGeol-Nr. eingeben"
                                           value="{{ infogeol_list|empty_if_none }}">
                                    <small id="emailHelp" class="form-text text-muted">Kommasepariert/ohne Abstand
                                        (43095,44015,43122)
                                        oder als Range (43122-43129) eingeben.</small>

                                </div>
                                <div class="form-group form-group-6">
                                    <label for="category">Kategorie</label>
                                    <select multiple class="form-control" name="category[]" id="categorySelect">

                                        {% for category in document_categories %}
                                            <option {% if category in filtered_categories %}
                                                selected {% endif %}>{{ category }}</option>
                                        {% endfor %}

                                    </select>
                                    <small id="categoryHelp" class="form-text text-muted">
                                        CTRL gedrückt halten, um mehere Kategorien zu selektieren oder CTRL+A um alle zu
                                        selektieren.
                                    </small>
                                </div>
                                <div class="form-group form-group-6">
                                    <label for="category">Objekt Kategorie</label>
                                    <select multiple class="form-control" name="objectCategory[]" id="objectCategorySelect">

                                        {% for category in object_categories %}
                                            <option {% if category in filtered_object_categories %}
                                                selected {% endif %}>{{ category }}</option>
                                        {% endfor %}

                                    </select>
                                    <small id="categoryHelp" class="form-text text-muted">
                                        CTRL gedrückt halten, um mehere Kategorien zu selektieren oder CTRL+A um alle zu
                                        selektieren.
                                    </small>
                                </div>
                                <div class="form-group form-group-6">
                                    <label for="supplier">Einlieferer</label>
                                    <input type="text" class="form-control" id="supplier" name="supplier"
                                           aria-describedby="suppierHelp" placeholder="Einlieferer eingeben"
                                           value="{{ supplier|empty_if_none }}">
                                    <small id="emailHelp" class="form-text text-muted">Vollständiges Wort wird
                                        benötigt.</small>
                                </div>
                                <div class="form-group form-group-6">
                                    <label for="author">Autoren</label>
                                    <input type="text" class="form-control" id="author" name="author"
                                           aria-describedby="authorHelp" placeholder="Autoren eingeben"
                                           value="{{ author|empty_if_none }}">
                                    <small id="autoHelp" class="form-text text-muted">Vollständiges Wort wird
                                        benötigt.</small>
                                </div>
                                <div class="form-group form-group-6">
                                    <label for="initiator">Auftraggeber</label>
                                    <input type="text" class="form-control" id="initiator" name="initiator"
                                           aria-describedby="initiatorHelp" placeholder="Auftraggeber eingeben"
                                           value="{{ initiator|empty_if_none }}">
                                    <small id="initiatorHelp" class="form-text text-muted">Vollständiges Wort wird
                                        benötigt.</small>
                                </div>
                                <div class="form-group form-group-6">
                                    <label for="original_id">Original ID</label>
                                    <input type="text" class="form-control" id="original_id" name="original_id"
                                           aria-describedby="originalIdHelp" placeholder="Original ID eingeben"
                                           value="{{ original_id|empty_if_none }}">
                                    <small id="originalIdHelp" class="form-text text-muted">Vollständiges Wort wird
                                        benötigt.</small>
                                </div>
                                <div class="form-group form-group-6">
                                    <label for="full_text">Volltext</label>
                                    <input type="text" class="form-control" id="full_text" name="full_text"
                                           aria-describedby="fulltextHelp" placeholder="Volltext Stichwörter eingeben"
                                           value="{{ full_text|empty_if_none }}">
                                </div>
                                <div class="form-group form-group-6">
                                    <label for="full_text">Direkte Aufrufe</label>
                                    <input type="text" class="form-control" id="requestCounter" name="request_counter"
                                           aria-describedby="requestCounterHelp"
                                           placeholder="Min der direkten Aufrufe eingeben"
                                           value="{{ request_counter|empty_if_none }}">
                                </div>
                                <div class="form-group">
                                    <label for="original_id" style="display: block;">Dokumentdatum (YYYY-MM-DD)</label>
                                    <input type="text" name="start_date" class="form-control" id="startDate"
                                           value="{{ start_date|empty_if_none }}"
                                           placeholder="Startdatum eingeben"
                                           style="width:calc(100% - 38px);display: inline;"/>
                                    <input type="text" name="end_date" class="form-control" id="endDate"
                                           value="{{ end_date|empty_if_none }}"
                                           placeholder="Enddatum eingeben"
                                           style="width:calc(100% - 38px);display: inline;"/>
                                </div>

                                <span id="hiddenGeoFilters">
                                    <input type="hidden" id="topLeftLat" name="top_left_lat" value="">
                                    <input type="hidden" id="topLeftLon" name="top_left_lon" value="">
                                    <input type="hidden" id="bottomRightLat" name="bottom_right_lat" value="">
                                    <input type="hidden" id="bottomRightLon" name="bottom_right_lon" value="">
                                </span>


                                <input type="hidden" name="_search" value="true">
                                <button type="submit" class="btn btn-primary">Suchen</button>
                                <button type="button" id="resetFilterBtn" class="btn btn-default">Zurücksetzen
                                </button>
                                <button type="button" class="btn btn-secondary" id="jsonExportBtn">JSON</button>
                                <button type="button" class="btn btn-secondary" id="csvExportBtn">CSV</button>
                                <a href="/documents/mlexport/" target="_blank">
                                    <button type="button" class="btn btn-secondary" id="jsonForMlExportBtn">
                                        ML Export
                                    </button>
                                </a>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">

                        <div class="informationBox">
                            <h4>Gefundene Dokumente</h4>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="width:4%;"></th>
                                    <th style="width:8%;">InfoGeol-Nr.</th>
                                    <th style="width:30%;">Metatitel</th>
                                    <th style="width:13%;">Original-ID</th>
                                    <th style="width:10%;">Dokumentdatum</th>
                                    <th style="width:25%;">Zugänglichkeit</th>
                                    <th style="width:10%;">Kategorie</th>
                                </tr>
                                </thead>

                                <tbody>

                                {% if number_of_results  == 0 %}
                                    <tr>
                                        <td colspan="7">
                                            <b style="width:100%;  text-align: center;display: block;">Keine Resultate
                                                gefunden.</b>
                                        </td>
                                    </tr>
                                {% endif %}

                                {% for document in documents %}

                                    <tr>
                                        <td>
                                            <button class="btn btn-default btn-xs accordion-toggle"
                                                    data-toggle="collapse" data-target="#demo{{ forloop.counter }}">
                                                <span class="glyphicon glyphicon-eye-open"
                                                      data-toggle="tooltip" data-placement="top"
                                                      title="Details anzeigen"></span>
                                            </button>
                                        </td>
                                        <td>
                                            <a href="/documents/detail/{{ document|value:"_source"|value:"infogeol" }}"
                                               target="_blank">{{ document|value:"_source"|value:"infogeol" }}</a>
                                        </td>
                                        <td class="breakElements">{{ document|value:"_source"|value:"title"|safe }}</td>
                                        <td class="breakElements">{{ document|value:"_source"|value:"originalId"|safe }}</td>
                                        <td class="breakElements">{{ document|value:"_source"|value:"originalCreationDate"|format_creation_data }}</td>
                                        <td class="breakElements">{{ document|value:"_source"|value:"availability" }}</td>
                                        <td class="breakElements">{{ document|value:"_source"|value:"category" }}

                                            <span class="relevantModalInformation" style="display: none;">
                                                <span class="currentCategory">{{ document|value:"_source"|value:"category" }}</span>
                                                <span class="currentPredictedCategory">{{ document|value:"_source"|value:"categoryPredicted" }}</span>
                                                <span class="currentPredictedCategoryProbability">{{ document|value:"_source"|value:"categoryProbability" }}</span>
                                                <span class="currentInfogeolNr">{{ document|value:"_source"|value:"infogeol" }}</span>

                                            </span>
                                            <button class="btn btn-primary btn-xs editCategoryBtna"
                                                    data-toggle="modal"
                                                    data-target="#myModal">
                                                <i class="bi bi-pencil-square"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="Kategorie bearbeiten">
                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr class="hiddenRow">
                                        <td colspan="7" class="hiddenRow">
                                            <div id="demo{{ forloop.counter }}" class="accordian-body collapse">
                                                <div class="col-md-12 innerTableMetaDataBox">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h4 style="border-bottom: #ccc solid 1px;padding-bottom:0.5em; margin-bottom: 1em;">
                                                                        Detailanzeige Metadaten</h4>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label>InfoGeol-Nr.: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <span>{{ document|value:"_source"|value:"infogeol" }}</span>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Metatitel: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <p>{{ document|value:"_source"|value:"title"|safe }}</p>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Originaltitel: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <p>{{ document|value:"_source"|value:"originalTitle"|safe }}</p>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Original-ID: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <span>{{ document|value:"_source"|value:"originalId" }}</span>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Dokumentdatum: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <span>{{ document|value:"_source"|value:"originalCreationDate"|format_creation_data }}</span>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Kategorie: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <p>{{ document|value:"_source"|value:"category" }}<br>
                                                                        {{ document|value:"_source"|value:"categoryPredicted" }}
                                                                        ({{ document|value:"_source"|value:"categoryProbability" }})
                                                                    </p>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Zugänglichkeit: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <p>{{ document|value:"_source"|value:"availability" }}
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Autor: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <p>{{ document|value:"_source"|value:"author.code" }}<br>{{ document|value:"_source"|value:"author.name" }}<br>{{ document|value:"_source"|value:"author.location" }}
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Auftraggeber: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <p>{{ document|value:"_source"|value:"initiator" }}
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Einlieferer: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <p>{{ document|value:"_source"|value:"supplier" }}
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Dokumentzusammensetzung: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <p>{{ document|value:"_source"|value:"reportStructure" }}
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Beschreibung: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <p>{{ document|value:"_source"|value:"auxiliary"|safe }}
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Koordinaten (LV03): </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <p>
                                                                        {{ document|value:"_source"|value:"locationInfo"|value:"coordinates_LV03" }}<br>
                                                                        {{ document|value:"_source"|value:"locationInfo"|value:"type" }}<br>
                                                                    </p>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Erfassungsdatum: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <p>{{ document|value:"_source"|value:"creationDate" }}
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Datum der letzten Änderung: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <p>{{ document|value:"_source"|value:"modificationDate" }}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Direkte Aufrufe: </label>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <p>{{ document|value:"_source"|value:"requestCounter" }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="informationBox">
                            <h4>Prediction</h4>

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="width:16%;">InfoGeol-Nr.</th>
                                    <th style="width:12%;">Seite</th>
                                    <th style="width:16%;">Kategorie</th>
                                    <th style="width:15%;">Score</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for prediction in predictions %}
                                    <tr>
                                        <td>{{ prediction|value:"_source"|value:"infogeol" }}</td>
                                        <td>
                                            <a href="/documents/page/{{ prediction|value:"_source"|value:"infogeol" }}_{{ prediction|value:"_source"|value:"page" }}/">{{ prediction|value:"_source"|value:"page" }}</a>
                                        </td>
                                        <td>{{ prediction|value:"_source"|value:"category" }}</td>
                                        <td>{{ prediction|value:"_source"|value:"score"|floatformat:4 }}</td>
                                    </tr>
                                {% endfor %}
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="informationBox">
                            <h4>Annotation</h4>

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="width:20%;">InfoGeol-Nr.</th>
                                    <th style="width:16%;">Seite</th>
                                    <th style="width:16%;">Kategorie</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for annotation in annotations %}
                                    <tr>
                                        <td>{{ annotation|value:"_source"|value:"infogeol" }}</td>
                                        <td>
                                            <a href="/documents/page/{{ annotation|value:"_source"|value:"infogeol" }}_{{ annotation|value:"_source"|value:"page" }}/">{{ annotation|value:"_source"|value:"page" }}</a>
                                        </td>
                                        <td>{{ annotation|value:"_source"|value:"category" }}</td>
                                    </tr>
                                {% endfor %}
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Kategorie Bearbeiten</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Hinterlegte Kategorie: </label>
                            </div>
                            <div class="col-md-8">
                                <p><span id="categoryModal"></span><br>
                                    <span id="predictedCategoryModal"></span>
                                    <span id="predictedCategoryProbabilityModal"></span>
                                    <span style="display:none;" id="infoGeolNrModal"></span>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <label for="categories">Neue Kategorie: </label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" name="categories" id="categorySelect">
                                    {% for category in document_categories %}
                                        <option value="{{ category }}">{{ category }}</option>
                                    {% endfor %}
                                </select>
                                {% csrf_token %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="categorySaveBtn">Speichern</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
            </div>

        </div>
    </div>


    <button id="scrollToTop" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Scroll to Top">
        <i class="bi bi-arrow-up"></i>
    </button>

{% endblock %}



{% block additionalScripts %}

    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css"
          type="text/css">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>

    <script>

        $("#scrollToTop").click(e => {
            $("html, body").animate({scrollTop: 0});
        })

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })

        $("#resetFilterBtn").click(e => {

            $("#myForm input[type=text]").each((index, value) => {
                $(value).val("");
            })

            $("#myForm #hiddenGeoFilters input[type=hidden]").each((index, value) => {
                $(value).val("");
            })

            $("#categorySelect").val("");
            $("#objectCategorySelect").val("");

        })

        function toggleScrllToTopButton() {
            if (window.pageYOffset > 400) {
                $("#scrollToTop").show(400);
            } else {
                $("#scrollToTop").hide(400);
            }
        }

        toggleScrllToTopButton();

        $(window).scroll(e => {
            toggleScrllToTopButton();
        });

        var attribution = new ol.control.Attribution({
            collapsible: false
        });


        const layers = [
            new ol.layer.Image({
                source: new ol.source.ImageWMS({
                    url: "http://wms.geo.admin.ch/?\n" +
                        "SERVICE=WMS\n" +
                        "&VERSION=1.3.0\n" +
                        "&REQUEST=GetCapabilities",
                    params: {'layers': 'ch.swisstopo.pixelkarte-farbe'},
                    ratio: 1,
                    serverType: 'geoserver',
                }),
            }), new ol.layer.Image({
                opacity: 0.7,
                source: new ol.source.ImageWMS({
                    url: "http://wms.geo.admin.ch/?\n" +
                        "SERVICE=WMS\n" +
                        "&VERSION=1.3.0\n" +
                        "&REQUEST=GetCapabilities",
                    params: {'layers': 'ch.swisstopo.geologie-geocover'},
                    ratio: 1,
                    serverType: 'geoserver',
                }),
            }),
        ];

        $("#toggleGeologieLayerBtn").click(e => {
            layers[1].setVisible(!layers[1].getVisible());
        })


        var map = new ol.Map({
            controls: ol.control.defaults({attribution: false}).extend([attribution]),
            layers: layers,
            target: 'map',
            renderer: 'canvas',
            view: new ol.View({
                center: ol.proj.fromLonLat([8.316150349969893, 46.8851907203812]),
                maxZoom: 18,
                zoom: 7
            })
        });

        let circles = [];
        let bigPolygons = [];
        let circle = null;
        let cord = null;
        let coordinates = []
        {% for document in documents %}
            {%  if document|value:"_source"|value:"coordinates"|value:"type" == "point" %}
                circle = new ol.geom.Circle(ol.proj.fromLonLat({{ document|value:"_source"|value:"coordinates"|value:"coordinates" }}), 100);
                circle.setProperties({
                    "infogeol": {{ document|value:"_source"|value:"infogeol"|escapejs}},
                    "originalId": "{{ document|value:"_source"|value:"originalId"|escapejs}}",
                    "title": "{{ document|value:"_source"|value:"title"|escapejs}}"
                })

                circles.push(new ol.Feature({geometry: circle}));
            {% endif %}

            {%  if document|value:"_source"|value:"coordinates"|value:"type" == "polygon" %}
                cord = [{{ document|value:"_source"|value:"coordinates"|value:"coordinates" }}]

                for (let i1 = 0; i1 < cord.length; ++i1) {
                    for (let i2 = 0; i2 < cord[i1].length; ++i2) {
                        for (let i3 = 0; i3 < cord[i1][i2].length; ++i3) {

                            cord[i1][i2][i3] = ol.proj.fromLonLat(cord[i1][i2][i3]);
                        }
                    }
                }

                circle = new ol.geom.Polygon(cord[0]);

                circle.setProperties({
                    "infogeol": {{ document|value:"_source"|value:"infogeol"|escapejs}},
                    "originalId": `{{ document|value:"_source"|value:"originalId"|safe|escapejs}}`,
                    "title": `{{ document|value:"_source"|value:"title"|safe|escapejs}}`
                })

                if (Math.abs(cord[0][0][0][1] - cord[0][0][1][1]) < 100000) {
                    circles.push(new ol.Feature({geometry: circle}));
                } else {
                    bigPolygons.push(new ol.Feature({geometry: circle}));
                }

            {% endif %}

            {%  if document|value:"_source"|value:"coordinates"|value:"type" == "multipoint" %}
                cord = {{ document|value:"_source"|value:"coordinates"|value:"coordinates" }}
                for (let i1 = 0; i1 < cord.length; ++i1) {
                    circle = new ol.geom.Circle(ol.proj.fromLonLat(cord[i1]), 100);
                    circle.setProperties({
                        "infogeol": {{ document|value:"_source"|value:"infogeol"|escapejs}},
                        "originalId": "{{ document|value:"_source"|value:"originalId"|safe|escapejs}}",
                        "title": "{{ document|value:"_source"|value:"title"|safe|escapejs}}"
                    })

                    circles.push(new ol.Feature({geometry: circle}));
                }
            {% endif %}



        {% endfor %}

        var layer = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: circles
            }), style: new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: [255, 0, 0, 1]
                }),
                fill: new ol.style.Fill({
                    color: [255, 10, 10, 0.05]
                })
            })
        });

        var bigPolygonlayer = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: bigPolygons
            }), style: new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: [255, 0, 0, 1]
                }),
                fill: new ol.style.Fill({
                    color: [255, 10, 10, 0.05]
                })
            })
        });


        map.addLayer(layer);
        map.addLayer(bigPolygonlayer);

            bigPolygonlayer.setVisible(false);

        $("#toggleBigPolygonLayerBtn").click(e => {
            bigPolygonlayer.setVisible(!bigPolygonlayer.getVisible());
        })

        let container = document.getElementById('popup');
        let content = document.getElementById('popup-content');
        let closer = document.getElementById('popup-closer');

        let overlay = new ol.Overlay({
            element: container,
            autoPan: true,
            autoPanAnimation: {
                duration: 250
            }
        });
        map.addOverlay(overlay);

        closer.onclick = function () {
            overlay.setPosition(undefined);
            closer.blur();
            return false;
        };

        map.on('singleclick', function (event) {
            if (map.hasFeatureAtPixel(event.pixel) === true) {
                var coordinate = event.coordinate;
                let featuresAtPixel = map.getFeaturesAtPixel(event.pixel);
                let popUpText = "";
                for (let i1 = 0; i1 < featuresAtPixel.length; ++i1) {
                    let testgeo = featuresAtPixel[i1].getGeometry();
                    popUpText += `<b>InfoGeol-Nr.:${testgeo.get("infogeol")}</b><br />${testgeo.get("originalId")}<br />${testgeo.get("title")}<br /><br />`
                }


                //  let testgeo = map.getFeaturesAtPixel(event.pixel)[0].getGeometry();
                // content.innerHTML = `<b>InfoGeol-Nr.:${testgeo.get("infogeol")}</b><br />${testgeo.get("originalId")}<br />${testgeo.get("title")}`;
                content.innerHTML = popUpText;
                overlay.setPosition(coordinate);
            } else {
                overlay.setPosition(undefined);
                closer.blur();
            }
        });

        // a DragBox interaction used to select features by drawing boxes
        let dragBox = new ol.interaction.DragBox({
            condition: ol.events.condition.shiftKeyOnly,
            style: new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: [0, 0, 255, 1]
                })
            })
        });

        map.addInteraction(dragBox);

        dragBox.on('boxend', (evt) => {
            // Get the current dragbox coordinateds
            let coordinates = dragBox.getGeometry().getCoordinates();
            // Create the polygon and pass the coordinates
            let polygonFeature = new ol.Feature(
                new ol.geom.Polygon(coordinates));

            let topLeft = ol.proj.toLonLat(coordinates[0][1], "EPSG:3857") // Top Left
            let bottomRight = ol.proj.toLonLat(coordinates[0][1], "EPSG:3857") // Bottom Right


            $("#topLeftLat").val(topLeft[1]);
            $("#topLeftLon").val(topLeft[0]);
            $("#bottomRightLat").val(bottomRight[1]);
            $("#bottomRightLon").val(bottomRight[0]);


            // Create the layer and style it as you like
            layer = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: [polygonFeature]
                }),
                style: new ol.style.Style({
                    stroke: new ol.style.Stroke({
                        width: 1,
                        color: [0, 0, 255, 1]
                    }),
                    fill: new ol.style.Fill({
                        color: [10, 10, 255, 0.15]
                    })
                })
            });

            // Here the Box could be added to stay visible after creating
            //    map.addLayer(layer);
        });

        // clear selection when drawing a new box and when clicking on the map

    </script>

    <script>
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#startDate').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd',
            iconsLibrary: 'fontawesome',
            maxDate: function () {
                return $('#endDate').val();
            }
        });
        $('#endDate').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd',
            iconsLibrary: 'fontawesome',
            maxDate: today,
            minDate: function () {
                return $('#startDate').val();
            },
        });

        $("#jsonExportBtn").click(e => {
            let url = $(location).attr('href');
            $("#myForm").attr("target", "_blank");

            $('<input>', {
                type: 'hidden',
                id: 'exportJsonInput',
                name: 'export_json',
                value: 'true'
            }).appendTo('#myForm');
            $("#myForm").submit();
            $("#exportJsonInput").remove();
            $("#myForm").attr("target", "");
        })

        $("#csvExportBtn").click(e => {
            let url = $(location).attr('href');
            $("#myForm").attr("target", "_blank");

            $('<input>', {
                type: 'hidden',
                id: 'exportCsvInput',
                name: 'export_csv',
                value: 'true'
            }).appendTo('#myForm');
            $("#myForm").submit();
            $("#exportCsvInput").remove();
            $("#myForm").attr("target", "");
        })


        $(".editCategoryBtna").click(e => {
            let currentCategory = $(e.currentTarget).parent("td").find(".currentCategory").text()
            let currentInfogeolNr = $(e.currentTarget).parent("td").find(".currentInfogeolNr").text()
            let currentPredictedCategory = $(e.currentTarget).parent("td").find(".currentPredictedCategory").text()
            let currentPredictedCategoryProbability = $(e.currentTarget).parent("td").find(".currentPredictedCategoryProbability").text()

            $("#categoryModal").html(currentCategory);
            $("#predictedCategoryModal").html(currentPredictedCategory);
            $("#predictedCategoryProbabilityModal").html(currentPredictedCategoryProbability);
            $("#infoGeolNrModal").html(currentInfogeolNr);
        })

        $("#categorySaveBtn").click(e => {
            let category = $("#categorySelect").val();

            let csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
            let id = $("#infoGeolNrModal").text();

            $.ajax({
                url: '/documents/category/' + id + '/',
                type: 'PUT',
                data: {
                    category: category,
                }
            }).done(response => {
                location.reload();
            });
        })

    </script>

{% endblock %}

