{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block title %} Document Dashboard {% endblock %}


{% block content %}


    <div class="contentContainer">
        <div class="innerContentContainer">
            <div class="container mainContainer">
                <div class="row">


                    <div class="col-md-12">
                        <h2>Dokument {{ document|value:"infogeol" }}</h2>

                    </div>

                    <div class="col-md-12 metaDataBox">
                        <div class="container">
                            <div class="row">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Meta Informationen</h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>InfoGeol-Nr.: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <span>{{ document|value:"infogeol" }}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Metatitel: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>{{ document|value:"title"|safe }}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Originaltitel: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>{{ document|value:"originalTitle"|safe }}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Original-ID: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <span>{{ document|value:"originalId" }}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Dokumentdatum: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <span>{{ document|value:"originalCreationDate" }}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Kategorie: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>{{ document|value:"category" }}<br>
                                            {{ document|value:"categoryPredicted" }}
                                            ({{ document|value:"categoryProbability" }})

                                            <button class="mainBtn" id="editCategoryBtna" data-toggle="modal"
                                                    data-target="#myModal">
                                                <i class="bi bi-pencil-square"></i></button>
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Zugänglichkeit: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>{{ document|value:"availability" }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Autor: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>{{ document|value:"author.code" }}<br>{{ document|value:"author.name" }}<br>{{ document|value:"author.location" }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Auftraggeber: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>{{ document|value:"initiator" }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Einlieferer: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>{{ document|value:"supplier" }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Dokumentzusammensetzung: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>{{ document|value:"reportStructure" }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Beschreibung: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>{{ document|value:"auxiliary"|safe }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Koordinaten: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>
                                            {{ document|value:"coordinates"|value:"type" }}<br>
                                            {{ document|value:"coordinates"|value:"coordinates" }}<br>
                                            {{ document|value:"coordinates"|value:"coordinates_LV03" }}
                                        </p>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Erfassungsdatum: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>{{ document|value:"creationDate" }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Datum der letzten Änderung : </label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>{{ document|value:"modificationDate" }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Bilder</h3>
                                        <p>{{ pages|value:"total"|value:"value" }} Bilder gefunden.</p>
                                    </div>
                                </div>


                                <div class="row">
                                    {% for page in pages|value:"hits" %}

                                        {% if forloop.counter|modulo:4 == 1 %}
                                            </div>
                                            <div class="row">
                                        {% endif %}


                                        <div class="col-md-3" style="margin-bottom: 15px;">
                                            <a href="/documents/page/{{ page|value:'_id' }}">
                                                <img src="/static/media/images/{{ page|value:'_source'|value:'image_path' }}"
                                                     width="100%" alt="Page">
                                            </a>
                                        </div>

                                    {% endfor %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Kategorie Bearbeiten</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Hinterlegte Kategorie: </label>
                            </div>
                            <div class="col-md-8">
                                <p>{{ document|value:"category" }} <br>
                                    {{ document|value:"categoryPredicted" }}
                                    ({{ document|value:"categoryProbability" }})
                                </p>
                            </div>
                            <div class="col-md-4">
                                <label for="categories">Neue Kategorie: </label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" name="categories" id="categorySelect">
                                    {% for category in categories %}
                                        <option value="{{ category }}">{{ category }}</option>
                                    {% endfor %}
                                </select>
                                {% csrf_token %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="categorySaveBtn">Speichern</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


{% block additionalScripts %}
    <script>
        $("#categorySaveBtn").click(e => {
            let category = $("#categorySelect").val();

            let csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();

            $.ajax({
                url: '/documents/category/{{ document|value:"infogeol" }}/',
                type: 'PUT',
                data: {
                    category: category,
                }
            }).done(response => {
                location.reload();
            });
        })
    </script>
{% endblock %}
