{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block title %} JSON Upload from Inference {% endblock %}


{% block content %}
    <div class="contentContainer">
        <div class="innerContentContainer">
            <div class="container mainContainer">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Import von Kategorie Inferencen </h2>
                    </div>


                    <div class="col-md-3">
                        <div class="informationBox">

                            <div class="form-group">
                                <label class="btn btn-default">
                                    Browse JSON <input type="file" id="jsonUpload" hidden>
                                </label></div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="uploadBtn">Upload</button>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-9">
                        <div class="informationBox">

                            <table class="table table-striped" id="importJsonTable">
                                <thead>
                                <tr>
                                    <th style="width:33%;">InfoGeol-Nr.</th>
                                    <th style="width:33%;">Kategorie</th>
                                    <th style="width:34%;">Wahrscheinlichkeit</th>
                                </tr>
                                </thead>

                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block additionalScripts %}

    <script>
        function isNumeric(str) {
            if (typeof str != "string") return false // we only process strings!
            return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
                !isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
        }


        $("#jsonUpload").change(e => {
            let reader = new FileReader();
            reader.onload = e2 => {
                let obj = JSON.parse(e2.target.result);
                let table = $("#importJsonTable");

                for (let i = 0; i < obj["documents"].length; ++i) {
                    let current = obj["documents"][i]["categoryProbabilities"]
                    let maxCategory = Object.keys(current).reduce((a, b) => parseFloat(current[a]) > parseFloat(current[b]) ? a : b);
                    let rowClass = "validEntry"
                    if (!isNumeric(obj["documents"][i]["InfGeolNr"])) {
                        rowClass = "danger invalidEntry";
                    }
                    table.append(`<tr class="${rowClass}"><td class="infogeol">${obj["documents"][i]["InfGeolNr"]}</td><td class="category">${maxCategory}</td><td class="probability">${obj["documents"][i]["categoryProbabilities"][maxCategory]}</td></tr>`)
                }


            };
            reader.readAsText(e.target.files[0]);
        });

        $("#uploadBtn").click(e => {
            $("#importJsonTable").find("tr.validEntry").each((i, row) => {
                let infogeol = $(row).find(".infogeol").html();
                let category = $(row).find(".category").html();
                let probability = $(row).find(".probability").html();
                $.ajax({
                    url: '/documents/inferenceCategory/' + infogeol + '/',
                    type: 'PUT',
                    data: {
                        category: category,
                        probability: probability
                    }
                }).done(response => {
                    $(row).fadeOut(400, function () {
                        $(this).remove();
                    });
                });
            })
        })
    </script>

{% endblock %}
