{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block title %} Page Detail {% endblock %}


{% block content %}

    <div class="contentContainer">
        <div class="innerContentContainer">
            <div class="container mainContainer">
                <div class="row">


                    <div class="col-md-12">
                        <h2>
                            <a href="/documents/detail/{{ file|value:"_source"|value:"infogeol" }}"
                               style="color: black;">
                                Dokument {{ file|value:"_source"|value:"infogeol" }}</a>,
                            Seite {{ file|value:"_source"|value:"page" }}
                        </h2>

                        <small id="autoHelp" class="form-text text-muted">'S' to Change Category, 'ALT' to Create New Bounding Box, 'DEL' to Delete Bounding Box</small>
                    </div>
                    <div class="col-md-12">
                        <div id="canvasDiv" tabindex="1000">
                            <canvas id="canvas" width="1000" height="1000"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block additionalScripts %}
    <script src="{% static "js/fabric.js" %}"></script>

    <script>
        let categories = {{ categories | to_json | safe }};
        let annotations = {{ annotations | to_json | safe }};
        let predictions = {{ predictions | to_json| safe  }};
        let file = {{ file | to_json | safe }};
        let strokeWidth = 2;
        let new_i = 0;

        // ============== init canvas ====================
        let canvas = new fabric.Canvas('canvas', {
            selection: false,
            uniformScaling: true,
            centeredKey: null
        });
        let scale = Math.min(canvas.width / file['_source']['width'], canvas.height / file['_source']['height']);
        canvas.setBackgroundImage("/static/media/images/" + file['_source']['image_path'], canvas.renderAll.bind(canvas), {
            scaleY: scale,
            scaleX: scale
        });

        let category_text = new fabric.Text(categories[0], {
            selectable: false,
            fontSize: 14,
            visible: false,
            category_id: 0
        });
        canvas.add(category_text);

        // draw predictions
        for (let prediction of predictions) {
            let [rect, text] = rect_from_annotation(prediction, scale);
            canvas.add(rect);
            canvas.add(text);
            rect.moveTo(-10);
        }

        // draw annotations
        for (let annotation of annotations) {
            let [rect, text] = rect_from_annotation(annotation, scale);
            canvas.add(rect);
            canvas.add(text);
        }

        // ============== event functions ====================
        $('#canvasDiv').keyup(function (e) {
            // hide cursor text
            if (e.code === 'AltLeft' || e.code === 'AltRight') {
                category_text.visible = false;
                canvas.renderAll();
            }
        }).keydown(function (e) {
            // show cursor text
            if (e.code === 'AltLeft' || e.code === 'AltRight') {
                category_text.visible = true;
                canvas.renderAll();

            }

            let rect = canvas.getActiveObject();
            if (rect) {
                let text = rect.text;
                // handle delete
                if ((e.code === 'Delete' || e.code === 'Backspace') && !rect.is_prediction) {
                    canvas.remove(rect);
                    canvas.remove(text);
                    delete_annotation(rect);
                }

                // handle add
                if (e.key === 'a' && rect.is_prediction) {
                    let added_annotation = {
                        _index: 'swisstopo-annotations',
                        _source: {
                            bbox: [rect.aCoords.tl.x, rect.aCoords.tl.y, rect.aCoords.br.x, rect.aCoords.br.y],
                            category: text.category,
                            origin: 'tool'
                        }
                    };
                    let [added_rect, added_text] = rect_from_annotation(added_annotation, 1);
                    canvas.add(added_rect);
                    canvas.add(added_text);
                    canvas.setActiveObject(added_rect);
                    add_new_annotation(added_rect);
                }
            }
        }).keypress(function (e) {
            if (e.code === 'KeyS') {
                let rect = canvas.getActiveObject();
                if (e.altKey) {
                    category_text.category_id = (Number(category_text.category_id) + 1) % categories.length;
                    category_text.text = categories[category_text.category_id];
                    canvas.renderAll();
                } else if (rect && !rect.is_prediction) {
                    let text = rect.text;
                    text.category_id = (Number(text.category_id) + 1) % categories.length;
                    text.category = text.text = categories[text.category_id];
                    update_annotation(rect);
                    canvas.renderAll();
                }
            }
        });

        // global variables for drawing new rectangles
        let new_rect, isDown, origX, origY;

        // start drawing new rectangle
        canvas.on('mouse:down', function (o) {
            if (o.e.altKey) {
                isDown = true;
                let pointer = canvas.getPointer(o.e);
                origX = pointer.x;
                origY = pointer.y;
                let new_annotation = {
                    _index: 'swisstopo-annotations',
                    _source: {
                        bbox: [origX, origY, origX, origY],
                        category: category_text.text,
                        origin: 'tool'
                    }
                };
                [new_rect, text] = rect_from_annotation(new_annotation, 1);
                canvas.add(new_rect);
                canvas.add(text);
            }
        });

        // updating the drawn rectangle
        canvas.on('mouse:move', function (o) {
            category_text.set({
                left: o.e.layerX,
                top: o.e.layerY
            });
            if (o.e.altKey) {
                canvas.renderAll();
            }

            if (isDown && o.e.altKey) {
                let pointer = canvas.getPointer(o.e);
                if (origX > pointer.x) {
                    new_rect.set({left: Math.abs(pointer.x)});
                }
                if (origY > pointer.y) {
                    new_rect.set({top: Math.abs(pointer.y)});
                }
                new_rect.set({width: Math.abs(origX - pointer.x)});
                new_rect.set({height: Math.abs(origY - pointer.y)});
                canvas.renderAll();
            }
        });

        // finalize the new rectangle and add annotation
        canvas.on('mouse:up', function (o) {
            if (isDown) {
                isDown = false;
                //set coordinates for proper mouse interaction
                for (let obj of canvas.getObjects()) {
                    obj.setCoords();
                }
                add_new_annotation(new_rect);
            }
        });

        // move the textboxes alongside the rectangles
        let _moveText = function (e) {
            let rect = e.target;
            let text = rect.text;

            text.left = rect.is_prediction ? rect.aCoords.br.x - 2 : rect.left + 2;
            text.top = rect.is_prediction ? rect.aCoords.br.y - 2 : rect.top + 2;
        };
        canvas.on("object:moving", _moveText);
        canvas.on("object:scaling", _moveText);
        canvas.on("object:modified", function (e) {
            let rect = e.target;
            if (!rect.is_prediction) {
                update_annotation(rect);
            }
        });

        function rect_from_annotation(annotation, scale) {
            let is_prediction = (annotation['_index'] === 'swisstopo-predictions')
            let bbox = annotation['_source']['bbox'];
            let x = bbox[0] * scale;
            let y = bbox[1] * scale;
            let w = (bbox[2] - bbox[0]) * scale;
            let h = (bbox[3] - bbox[1]) * scale;

            let text = new fabric.Text(annotation['_source']['category'] + (is_prediction ? ', ' + annotation['_source']['score'].toFixed(2) : ''), {
                fontSize: 14,
                selectable: false,
                left: is_prediction ? x + w - 2 : x + 2,
                top: is_prediction ? y + h - 2 : y + 2,
                originX: is_prediction ? 'right' : 'left',
                originY: is_prediction ? 'bottom' : 'top',
                stroke: is_prediction ? 'red' : 'green',
                id: annotation['_id'],
                category: annotation['_source']['category'],
                category_id: categories.indexOf(annotation['_source']['category'])
            });
            let rect = new fabric.Rect({
                left: x,
                top: y,
                width: w,
                height: h,
                fill: null,
                lockMovementX: is_prediction,
                lockMovementY: is_prediction,
                lockScalingX: is_prediction,
                lockScalingY: is_prediction,
                lockScalingFlip: true,
                lockSkewingX: true,
                lockSkewingY: true,
                lockRotation: true,
                strokeWidth: strokeWidth,
                stroke: is_prediction ? 'red' : 'green',
                strokeDashArray: annotation['_source']['origin'] === 'tool' ? [5, 5] : null,
                strokeUniform: true,
                id: annotation['_id'],
                is_prediction: is_prediction,
                text: text
            });
            return [rect, text]
        }


        // ============== AJAX function calls ====================
        function add_new_annotation(rect) {
            $.ajax({
                url: '/documents/page/annotate/' + file['_id'] + '/',
                type: 'POST',
                data: {
                    x1: (rect.aCoords.tl.x) / scale,
                    y1: (rect.aCoords.tl.y) / scale,
                    x2: (rect.aCoords.br.x - strokeWidth) / scale,
                    y2: (rect.aCoords.br.y - strokeWidth) / scale,
                    category: rect.text.category,
                },
                success: function (data) {
                    rect.id = data.id;
                }
            });
        }

        function update_annotation(rect) {
            $.ajax({
                url: '/documents/page/annotate/' + file['_id'] + '/' + rect.id + '/',
                type: 'PUT',
                data: {
                    x1: (rect.aCoords.tl.x) / scale,
                    y1: (rect.aCoords.tl.y) / scale,
                    x2: (rect.aCoords.br.x - strokeWidth) / scale,
                    y2: (rect.aCoords.br.y - strokeWidth) / scale,
                    category: rect.text.category,
                }
            });
        }

        function delete_annotation(rect) {
            $.ajax({
                url: '/documents/page/annotate/delete/' + file['_id'] + '/' + rect.id + '/',
                type: 'DELETE'
            });
        }
    </script>
{% endblock %}
