{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <title>Swisstopo Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/base.css" %}">

</head>
<body>
<header>
    <div id="mainNav" class="mainNav">
        <div id="innerMainNav" class="innerMainNav">

            <div class="mainMenuItem iconMenuItem">
                <img src="{% static "img/logo-CH.svg" %}" alt="Swiss Logo">
            </div>

            <div class="mainMenuItem {% if page_name == "dashboard" %} selected {% endif %}">
                <a href="/documents">
                    <div>Dashboard</div>
                </a>
            </div>
            <div class="mainMenuItem {% if page_name == "inference_import" %} selected {% endif %}">
                <a href="/documents/importJson">
                    <div>Inference Import</div>
                </a>
            </div>
            <div class="mainMenuItem">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <a href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>
            <!--
                <div class="mainMenuItem">
                http://gaia.hostings.swisstopo.cloud:5601/
                    <a href="https://localhost:8443/_plugin/kibana/" target="_blank">
                        <div>Kibana</div>
                    </a>
                </div>
                -->

        </div>
    </div>

</header>

<div id="mainContent">
    {% block content %}
    {% endblock %}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

{% block additionalScripts %}
{% endblock %}

<script>
    $(document).ready(function () {
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });
</script>


</body>
</html>