.mainBtn {
    color: white;
    background-color: red;
    border: none;
    border-radius: 3px;
}

.container {
    width: 100%;
}

.row {
    margin-bottom: 3px;
}

.gj-datepicker {
    display: inline-block;
    width: 49.5%;
}

.breakElements {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.informationBox {
    background-color: rgba(245, 245, 245, 0.5);
    box-shadow: 0 4px 8px -5px rgba(0, 0, 0, 0.1), 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    border: rgba(225, 225, 225, 0.8) 1px solid;
    padding: 20px;
    margin: 5px;
}

.innerContentContainer {
    width: 90%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
}


.innerTableMetaDataBox {
    font-size: 0.9em;
    padding: 4em;
}

.innerTableMetaDataBox .row {
    margin-bottom: 0;
}

.hiddenRow {
    padding: 0 !important;
}

.form-group-6 {
    float: left;
    width: 50%;
    padding-right: 5px;
}

[hidden] {
    display: none !important;
}


/* Navigation Menu */
#mainNav {
    width: 100%;
    min-height: 4em;
    display: flex;
    top: 0;
    background-color: rgba(245, 245, 245, 0.5);
    z-index: 9999;
    box-shadow: 0 4px 8px -5px rgba(0, 0, 0, 0.15), 0 6px 20px -5px rgba(0, 0, 0, 0.14);
}

#innerMainNav {
    padding-left: 15px;
    width: 90%;
    margin: 1em auto;
    align-items: center;
}

.mainMenuItem {
    padding-left: 1.5em;
    font-size: 1.3em;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 100;
}

.mainMenuItem > a {
    color: rgb(51, 51, 51);
}

.mainMenuItem.selected > a {
    font-weight: 600;
}

.iconMenuItem {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 30px;
    padding-left: 0;
}

.mainMenuItem > a:hover {
    text-decoration: none;
}

.mainMenuItem:hover div {
    transform: scale(1.05);
}

.mainMenuItem div {
    transition-duration: 0.5s;
}

#popup-content {
    font-size: 0.9em;
}

#popup {
    background: white;
    padding: 1em;
    border-radius: 0.2em;
    border: lightgray 1px solid;
    max-height: 300px;
    overflow: scroll;
    max-width: 300px;
}

#scrollToTop {
    display: block;
    position: fixed;
    bottom: 0;
    left: calc(100% - (5% + 60px))
}

#numberOfDocumentsFoundBox {
    padding-top: 0.5em;
    border-top: 1px #ddd solid;
    margin-top: 0.5em;
}