{% extends "base.html" %}

{% block title %} Logged Out {% endblock %}


{% block content %}
    <div class="contentContainer">
        <div class="innerContentContainer">
            <div class="container mainContainer">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Logged Out</h2>
                        <p>Log out erfolgreich. Fürs weitere benutzen der Webseite, bitte wieder <a href="{% url "login" %}">einloggen</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}