{% extends "base.html" %}

{% block title %} Login {% endblock %}


{% block content %}
    <div class="contentContainer">
        <div class="innerContentContainer">
            <div class="container mainContainer">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Login</h2>
                        <form method="post">
                            {{ form.non_field_errors }}
                            <div class="form-group">

                                <label for="{{ form.username.id_for_label }}">Username:</label>
                                {{ form.username }}
                                {{ form.username.errors }}

                            </div>
                            <div class="form-group">
                                <label for="{{ form.password.id_for_label }}">Password:</label>
                                {{ form.password }}
                                {{ form.password.errors }}
                            </div>
                            {% csrf_token %}

                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}